@page
@model Trial.MvcDemoApplication.Web.Pages.PDM.Components.ViewModalModel

@using Trial.MvcDemoApplication.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MvcDemoApplicationResource> L

@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;

@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["PageHeaders:Discriptors"];
    PageLayout.Content.BreadCrumb.Add(L["PageHeaders:StructureHierarchy"], "/PDM/Structures/ViewHierarchy?id=" + Model.StructureId);
    int i = 0;
}
<abp-card background="Light" text-color="Dark" border="Success" class="mb-3">
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                @L["PageHeaders:Discriptors"]
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body background="Light" text-color="Dark" border="Success" size-md="_1">
        <abp-list-group>
            <abp-list-group-item class="Component-group">
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#DescriptorsSections" aria-expanded="true" aria-controls="collapseOne">
                    @Model.Component.Name
                </button>
                <!-- Add Button -->
                <abp-button class="btn-icon add-btn" data-bs-toggle="modal" data-bs-target="#addDescriptor" icon="plus" title="Add Descriptor" />
            </abp-list-group-item>
            <abp-list-group flush="true">
                <abp-collapse-body id="DescriptorsSections">
                    @foreach (var descriptor in Model.Component.Descriptors)
                    {
                            <abp-list-group-item>
                                <div class="accordion" id="@descriptor.Name">
                                    <div class="card-header" id="headingOne">
                                        <button onclick="display('@descriptor.Id', '@i')" class="btn" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#@i" aria-expanded="true" aria-controls="collapseOne">
                                        @descriptor.Name
                                        </button>
                                        <abp-button-group size="Small" background="Dark">
                                            <!-- Add Button -->
                                            <abp-button class="btn-icon add-btn" onclick="handleAdd('@descriptor.Id')" icon="plus" title="Add Option" />
                                            <!-- Remove Button -->
                                            <abp-button class="btn-icon remove-btn" onclick="removeDescriptor('@Model.Id', '@descriptor.Id')" icon="times"
                                                        title="Remove Descriptor and its Options" />
                                        </abp-button-group>
                                    </div>
                                </div>

                                <abp-collapse-body id="@i">
                                    <abp-list-group id="OptionsSection_@i">
                                    </abp-list-group>
                                </abp-collapse-body>
                            </abp-list-group-item>
                        i++;
                    }
                </abp-collapse-body>
            </abp-list-group>
        </abp-list-group>
    </abp-card-body>
</abp-card>
    <abp-modal centered="true" scrollable="true" size="Large" id="addDescriptor">
        <abp-modal-header title="Add new Descriptor"></abp-modal-header>
        <form method="post">
            <abp-modal-body>
                <label>Descriptor Name</label>
                    <select asp-for="DescriptorNameId"
                            class="auto-complete-select"
                            data-autocomplete-api-url="/api/app/text?IsDescriptor=true"
                            data-autocomplete-display-property="textName"
                            data-autocomplete-value-property="id"
                            data-autocomplete-items-property="items"
                            data-autocomplete-filter-param-name="filter"
                            data-autocomplete-allow-clear="true">
                        <!-- You can define selected option(s) here  -->
                            @*<option selected value="@Model.StructureData.NameId">""</option>*@
                    </select>
            </abp-modal-body>
            <abp-modal-footer buttons="@(AbpModalButtons.Save|AbpModalButtons.Close)"></abp-modal-footer>
        </form>
    </abp-modal>

<script>
    function display(descriptorId, idx) {
        // Assuming trial.mvcDemoApplication.pDM.component.get is a function that returns a Promise
        trial.mvcDemoApplication.pDM.component.getAllDescriptorOptions(descriptorId) // Replace 'id' with the actual ID if necessary
            .then(options => {
                    const list = document.getElementById('OptionsSection_' + idx);
                    list.innerHTML = ''; // Clear the list before adding new items
                    options.forEach(option => {
                    let listItem = document.createElement('li');
                    listItem.className = 'list-group-item';

                    let button = document.createElement('button');
                    button.className = 'btn btn-sm';
                    button.type = 'button';
                    button.textContent = option.name;
                    button.setAttribute('data-busy-text', 'Processing...');

    @*listItem.textContent = option.name;*@

                    let removeButton = document.createElement('button');
                    removeButton.className = 'btn-icon btn btn-sm';
                    removeButton.type = 'button';
                    removeButton.title = 'Remove Option'
                    removeButton.setAttribute('data-busy-text', 'Processing...');

                    let icon = document.createElement('i');
                    icon.className = 'fa fa-times';
                    removeButton.appendChild(icon);
                    listItem.appendChild(button)
                    listItem.appendChild(removeButton)
                    list.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('Error fetching descriptors:', error);
            });
    }

    function removeDescriptor(componentId, descriptorId) {
        // logic for handling remove operation
        trial.mvcDemoApplication.pDM.component.removeDescriptor(componentId, descriptorId)
            .then(function (data) {
                abp.notify.info('Successfully deleted!');
                location.reload()
            })
    }
</script>
